<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
</head>
<body>

<ul th:fragment="ADMINPANEL" class="nav nav-pills">

    <!--    ссыылка №1 -->
    <li class="nav-item">
        <a class="nav-link active"  data-toggle="tab" href="#menu1" id="user_table">Table</a>
    </li>

    <!--    ссыылка №2-->
    <li class="nav-item" >
        <a class="nav-link  " data-toggle="tab" href="#home" id="new_user">New</a>
    </li>

</ul>


</body>
</html>